
#recruits{
    background-color: yellow;
    width: 80%;
    height: 800px;
    margin: auto; /*左右居中，上下居中*/

}


ul{
    list-style: none; /*去掉左边黑色小圆圈*/
    margin: 0;
    padding: 0;
}

li{
    float: left;/*设置为浮动类型，左边对齐*/
}

a:link,a:visited{
    display: block;/*设置为块级元素*/
    width: 100px;
    font-weight: bold;/*加粗字体*/
    color: white;
    background-color: aqua;
    text-align: center;
    text-decoration: none;/*去掉文本的下划线*/
    padding: 5px/*设置内边距为5px*/;
}

a:hover,a:active {
    background-color: red;/*设置鼠标放置之后背景颜色变为红色*/
}